<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keyboardforkeystrokedynamics">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:required="false" android:name="android.hardware.touchscreen"/>

    <application android:label="@string/ime_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false">
        <service android:name="SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent/action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
    </application>

</manifest>